.cange-address {
    max-width: 1230px;
    margin: 0 auto;
}
.cange-address__inner {
    width: 60%;
    margin: 70px auto;
}
.cange-address__title {
    text-align: center;
    padding-bottom: 30px;
}
.cange-address-form__group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 40px;
}
.cange-address-form__group {
    padding-bottom: 50px;
}
.cange-address-form__group p {
    font-weight: bold;
}
.cange-address__btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(255, 96, 72);
    color: white;
    border: none;
    border-radius: 3px;
    height: 50px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}