.select-tag {
    border-bottom: 1px solid black;
}
.select-tag__inner {
    display: flex;
    align-items: end;
    height: 100px;
    max-width: 1230px;
    margin: 10px auto;
    font-size: 24px;
    font-weight: bold;
}
.select-tag__best {
    padding-left: 100px;
    text-decoration: none;
    color: #8b8b8b;
    cursor: pointer;
}
.select-tag__mylist {
    padding-left: 70px;
    text-decoration: none;
    color: #8b8b8b;
    cursor: pointer;
}
.catalog-page {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}
.catalog-page__group {
    width: 25%;
    padding: 20px;
}
.catalog-page__img img {
    width: 100%;
}
.catalog-page__name {
    padding-top: 10px;
}
.selected {
    color: red;
}
.sold-label {
    color: red;
    font-weight: bold;
}
.select-tag__inner a.active {
    font-weight: bold;
    color: #ff6600; /* 目立つ色に変更 */
    border-bottom: 2px solid #ff6600; /* 下線をつける */
}